@import "compass";

.editor, .control, .table {
  background: #DDD;
  margin: 5px;
  padding: 5px;
}

$directions: R L U D;
$color-list: #FF8888 #77FF77 #8888FF #77FFFF #FF77FF #FFFF77 #DDDDDD;
$color-names: R G B C M Y N;

@for $i from 1 through length($color-list) {

  .editor .e-#{nth($color-names, $i)} {
    background: lighten(nth($color-list, $i), 5%);
  }

  .editor .e-tint-#{nth($color-names, $i)} {
    background: lighten(nth($color-list, $i), 15%);
  }

  .control .c-#{nth($color-names, $i)} {
    background-color: nth($color-list, $i);
  }

  .p-cell-#{nth($color-names, $i)} {
    background-color: lighten(nth($color-list, $i), 15%);
  }

}

.editor {
  button {
    font-weight: bold;
    height: 30px;
  }
  .active {
    border: 2px solid #00000080;
    @include box-shadow(black 0px 0px 5px);
  }
}

.control {
  div.c-delay, div.c-steps {
    margin: 0 2em
  }
}

.program {

  table {
    margin: 1em auto;
    background: #DDD;
  }

  td {
    border: solid #AAA 1px;
    width: 28px;
    height: 28px;
    text-align: center;
    font-weight: bold;
  }

  @for $i from 1 through 15 {
    .p-track-#{$i} {
      background-image: url("../img/track-#{$i}-a.png");
    }
  }
  .p-track-0 {
  }

  @each $i in $directions {
    .p-head-#{$i} {
      background-image: url("../img/head-#{$i}.png");
    }
  }

}
