<div class="navbar">
  <div class="navbar-inner">

    <ul class="nav">

      <li class="active">
	<a class="brand">{{title}}</a>


      <li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">Program <span class="caret"></span></a>
	<ul  class="dropdown-menu">
	  <li><a href='#'>Nový program</a>
	  <li><a href='#/Big'>Nový velký program</a>
	</ul>

      <li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">Hlavolamy <span class="caret"></span></a>
	<ul  class="dropdown-menu">
	  <li><a href='#/Zero'>Zero</a>
	  <li><a href='#/ZeroOneLine'>ZeroOneLine</a>
	  <li><a href='#/TheAnswer'>TheAnswer (1b)</a>
	  <li><a href='#/TooBig'>TooBig (1b)</a>
	  <li><a href='#/BitRevers'>BitRevers (1b)</a>
	  <li><a href='#/Prime'>Prime (2b)</a>
	</ul>

    </ul>

    <ul class="nav pull-right">
      <li>
	<a class="pull-right" href="https://github.com/gavento/flat-fox">FlatFox na GitHubu</a>
    </ul>


  </div>
</div>

