<div ng-include="" src="'FLATFOX_BASE_URL/views/navbar.tmpl'"></div>

<p>
Volné pole k experimentování s FlatFoxem.

<div class="well">
  <div ng-include="" src="'FLATFOX_BASE_URL/views/program.tmpl'"></div>
</div>
