<div ng-include="" src="'FLATFOX_BASE_URL/views/navbar.tmpl'"></div>

<p>
Volné pole k experimentování s jazykem FlatFox++.

<div class="well">
  <div ng-include="" src="'FLATFOX_BASE_URL/views/pPProgram.tmpl'"></div>
</div>
