<div class="program" ng-controller='ProgramCtrl'>

  <div class="control well well-small form-inline">
    <div class="btn-group">
      <button ng-click="step()" class="btn c-step" ng-disabled="program.finished"><i class="icon-step-forward"></i></button>
      <button ng-click="play()" class="btn c-start" ng-show="!playing" ng-disabled="program.finished"><i class="icon-play"></i></button>
      <button ng-click="playing = false" class="btn c-pause" ng-show="playing"><i class="icon-pause"></i></button>
      <button ng-click="clickStop()" class="btn c-stop" ng-disabled="!program.running"><i class="icon-stop"></i></button>
    </div>
    <label class="c-delay">
      Krok [ms] <input ng-model="delay" class="span1 c-delay" type="text">
    </label>
    <div class="btn-group pull-right">
      <button ng-click="runTest()" class="btn btn-primary" ng-show="testCases"
	ng-disabled="program.running || testRunning">Otestuj</button>
    </div>

    <div class='btn-group pull-right' ng-show="enableSaveLoad">
      <button id="saveButton" class="btn" ng-click="save()">Ulož</button>
      <button href="#loadModal" role="button" class="btn" data-toggle="modal">Nahraj</button>
    </div>

    <div class='btn-group pull-right' ng-show="enableResize">
      <input type="number" ng-model="setw" class="span1" ng-disabled="program.running">
      <input type="number" ng-model="seth" class="span1" ng-disabled="program.running">
      <button ng-click="program.resizeProgram(setw, seth)" class="btn" ng-disabled="program.running">Velikost</button>
    </div>

    <div id="loadModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="myModalLabel">Načtení programu</h3>
      </div>
      <div class="modal-body">
	<p>Zvolte soubor z Vašeho počítače
	<input type='file' id='uploadedFile'>
      </div>
      <div class="modal-footer">
	<button class="btn primary pull-right" ng-click='load()'>Nahrát</button>
      </div>
    </div>
  </div>

  <div class="control well well-small form-inline">
    <input type="text" ng-model="strMemory[0]" class="c-R span2" ng-disabled="program.running" ng-change="pushStrMemory(0)">
    <input type="text" ng-model="strMemory[1]" class="c-G span2" ng-disabled="program.running" ng-change="pushStrMemory(1)">
    <input type="text" ng-model="strMemory[2]" class="c-B span2" ng-disabled="program.running" ng-change="pushStrMemory(2)">
    <input type="text" ng-model="strMemory[3]" class="c-C span2" ng-disabled="program.running" ng-change="pushStrMemory(3)">
    <input type="text" ng-model="strMemory[4]" class="c-M span2" ng-disabled="program.running" ng-change="pushStrMemory(4)">
    <input type="text" ng-model="strMemory[5]" class="c-Y span2" ng-disabled="program.running" ng-change="pushStrMemory(5)">
  </div>

  <div class='editor well well-small form-inline'>
    <div class='e-colors btn-group'>
        <button class="btn e-R" ng-model="color" btn-radio="'R'">R</button>
        <button class="btn e-G" ng-model="color" btn-radio="'G'">G</button>
        <button class="btn e-B" ng-model="color" btn-radio="'B'">B</button>
        <button class="btn e-C" ng-model="color" btn-radio="'C'">C</button>
        <button class="btn e-M" ng-model="color" btn-radio="'M'">M</button>
        <button class="btn e-Y" ng-model="color" btn-radio="'Y'">Y</button>
        <button class="btn e-N" ng-model="color" btn-radio="' '"><i class="icon-adjust"></i></button>
    </div>

    <div class='e-tiles btn-group'>
        <button class="btn" ng-model="symbol" btn-radio="'+'" ng-class="['e-tint-'+color]" ng-disabled="color==' '">+</button>
        <button class="btn" ng-model="symbol" btn-radio="'-'" ng-class="['e-tint-'+color]" ng-disabled="color==' '">-</button>
        <button class="btn" ng-model="symbol" btn-radio="'0'" ng-class="['e-tint-'+color]" ng-disabled="color==' '">0</button>
    </div>

    <div class='e-tiles btn-group'>
        <button class="btn" ng-model="symbol" btn-radio="'A'" ng-class="['e-tint-'+color]" ng-disabled="color==' ' || color=='R'">A</button>
        <button class="btn" ng-model="symbol" btn-radio="'S'" ng-class="['e-tint-'+color]" ng-disabled="color==' ' || color=='R'">S</button>
        <button class="btn" ng-model="symbol" btn-radio="'M'" ng-class="['e-tint-'+color]" ng-disabled="color==' ' || color=='R'">M</button>
        <button class="btn" ng-model="symbol" btn-radio="'D'" ng-class="['e-tint-'+color]" ng-disabled="color==' ' || color=='R'">D</button>
        <button class="btn" ng-model="symbol" btn-radio="'L'" ng-class="['e-tint-'+color]" ng-disabled="color==' ' || color=='R'">L</button>
    </div>

    <div class='e-tiles btn-group'>
        <button class="btn" ng-model="symbol" btn-radio="'<'" ng-class="['e-tint-'+color]"><i class='icon-arrow-left'></i></button>
        <button class="btn" ng-model="symbol" btn-radio="'>'" ng-class="['e-tint-'+color]"><i class='icon-arrow-right'></i></button>
        <button class="btn" ng-model="symbol" btn-radio="'^'" ng-class="['e-tint-'+color]"><i class='icon-arrow-up'></i></button>
        <button class="btn" ng-model="symbol" btn-radio="'v'" ng-class="['e-tint-'+color]"><i class='icon-arrow-down'></i></button>
        <button class="btn" ng-model="symbol" btn-radio="'.'">.</button>
        <button class="btn" ng-model="symbol" btn-radio="'@'">@</button>
        <button class="btn" ng-model="symbol" btn-radio="'#'">#</button>
        <button class="btn" ng-model="symbol" btn-radio="'o'">o</button>
    </div>

    <!--

    <button class="btn" ng-click="save()">Save</button>
    {view App.LoadFileView class="span3"}
    -->
  </div>

  <div class="alert {{ 'alert-' + program.message.type }}">{{ program.message.text }}</div>

  <div class="program">
    <table>
      <tr ng-repeat="y in rows()">
	<td ng-repeat="x in columns()" ng-click="clickCell(x, y)"
	  class="{{ 'p-cell-' + program.getTile(x, y).color}} {{ headClassAt(x, y) }}"
	  ng-bind-html-unsafe="program.getTile(x, y).symbol | tileSymbol">
	</td>
      </tr>
    </table>
  </div>

</div>
