<div ng-include="" src="'/archiv/html/tematka/roc_20/t3/views/navbar.tmpl'"></div>

<p>
Toto už není tak snadné. Zařiďte, aby v červeném registru byla <i>Odpověď na otázku života, vesmíru a vůbec</i>.
Na začátku jsou registry nastaveny na 0.

<p>
<b>Za vyřešení tohoto hlavolamu získáte k témátku 1 bod!</b>

<div class="well">
  <div ng-controller='ProgramCtrl' ng-include="" src="'/archiv/html/tematka/roc_20/t3/views/program.tmpl'"></div>
</div>
