<div ng-include="" src="'/archiv/html/tematka/roc_20/t3/views/navbar.tmpl'"></div>

<p>
I zde je cílem vynulovat červený registr, ovšem jednořádkovým programem. Ostatní registry budou nastaveny na 0.

<div class="well">
  <div ng-controller='ProgramCtrl' ng-include="" src="'/archiv/html/tematka/roc_20/t3/views/program.tmpl'"></div>
</div>
