<div ng-include="" src="'FLATFOX_BASE_URL/views/navbar.tmpl'"></div>

<p>
Toto už není tak snadné. Zařiďte, aby v červeném registru byla <i>Odpověď na otázku života, vesmíru a vůbec</i>.
Na začátku jsou registry nastaveny na 0.

<div class="well">
  <div ng-controller='ProgramCtrl' ng-include="" src="'FLATFOX_BASE_URL/views/program.tmpl'"></div>
</div>
