<div ng-include="" src="'FLATFOX_BASE_URL/views/navbar.tmpl'"></div>

<p>
I zde je cílem vynulovat červený registr, ovšem jednořádkovým programem. Ostatní registry budou nastaveny na 0.

<div class="well">
  <div ng-controller='ProgramCtrl' ng-include="" src="'FLATFOX_BASE_URL/views/program.tmpl'"></div>
</div>
