<div ng-include="" src="'FLATFOX_BASE_URL/views/navbar.tmpl'"></div>

<p>
Proč se v FlatFox++ objevilo i násobení a dělení? Jen jako usnadnění, protože
k řádovému zrychlení oproti FlatFoxu nejsou potřeba!

<p>
Ukažte, že bez příkazu násobení se obejdete:
Vynásobte dvě čísla v registrech <i>R</i> a <i>G</i> bez použití příkazu <code>M</code>,
výsledek uložte do <i>R</i>.
Ostatní registry jsou na začátku 0 a na konci na nich nezáleží.

<p>
Pozor, že je potřeba násobit chytře, abyste neztratili rychlost.
Pro vstupy <i>R&lt;1000000</i> a <i>G&lt;1000000</i> je program omezen na 1000 kroků.

<p>
<b>Za vyřešení tohoto hlavolamu získáte k témátku 1 bod.</b> Řešení nám pošlete emailem do termínu odeslání 4. čísla.
Jde o bonus, další (nezávislé) body samozřejmě získáte za běžný příspěvek do témátka, kde třeba můžete myšlenku programu teoreticky popsat.

<div class="well">
  <div ng-controller='ProgramCtrl' ng-include="" src="'FLATFOX_BASE_URL/views/pPProgram.tmpl'"></div>
</div>
