<div ng-include="" src="'FLATFOX_BASE_URL/views/navbar.tmpl'"></div>

<p>
Užijte sílu FlatFox++ a naprogramujte si úkol Prime na steroidech:
Spočtěte <i>R</i>-té prvočíslo a uložte ho do registru <i>R</i>.
Ostatní registry jsou na začátku 0 a na konci na nich nezáleží.

<p>
Pozor, že je potřeba počítat trochu chytře; pro vstupy <i>R&lt;1000</i> je program omezen na 10000000 kroků.

<p>
<b>Za vyřešení tohoto hlavolamu získáte k témátku 2 body.</b> Řešení nám pošlete emailem do termínu odeslání 4. čísla.
Jde o bonus, další (nezávislé) body samozřejmě získáte za běžný příspěvek do témátka, kde třeba můžete myšlenku programu teoreticky popsat.

<div class="well">
  <div ng-controller='ProgramCtrl' ng-include="" src="'FLATFOX_BASE_URL/views/pPProgram.tmpl'"></div>
</div>
