<div ng-include="" src="'/archiv/html/tematka/roc_20/t3/views/navbar.tmpl'"></div>

<p>
A teď pořádný oříšek! Zjistěte, zda je hodnota v červeném registru <i>prvočíslo</i>.

<p>
Pokud je <i>R</i> prvočíslo, nastavte <i>Y=1</i> (žlutý registr), pokud je <i>R</i>
složené, nastavte <i>Y=0</i>.
Ostatní registry krom <i>R</i> jsou na začátku nastaveny na 0, na konci na nich
krom <i>Y</i> nezáleží.
Pro zjednodušení netestujeme program pro <i>R=0</i> ani <i>R=1</i>.

<p>
Největší testované číslo je menší než 150 a testy jsou limitovány na 3 000 000 kroků.
Při testování mějte prosím trpělivost, může trvat i několik sekund a na starších strojích
či prohlížečích možná i déle. Doporučuji tedy nejdříve testovat na vlastních vstupech.

<p>
<b>Za vyřešení tohoto hlavolamu získáte k témátku 2 body.</b> Jde o bonus, další (nezávislé)
body samozřejmě získáte za běžný příspěvek do témátka, kde myšlenku a návrh programu teoreticky popíšete.
Jako další úkol můžete třeba odhadnout řádový počet kroků v závislosti na R.

<div class="well">
  <div ng-controller='ProgramCtrl' ng-include="" src="'/archiv/html/tematka/roc_20/t3/views/program.tmpl'"></div>
</div>
