<div ng-include="" src="'/archiv/html/tematka/roc_20/t3/views/navbar.tmpl'"></div>

<p>
V červeném registru vyrobte opravdu velké číslo, konkrétně <b>59050</b>. Na začátku jsou registry nastaveny na 0.

<p>
Test je tentokrát limitován 1 000 000 kroků a při testování mějte prosím trpělivost, může to trvat i pár sekund
a na starších strojích či prohlížečích možná i déle. V tom případě doporučuji program odladit s menšími čísly.

<p>
<b>Za vyřešení tohoto hlavolamu získáte k témátku 1 bod!</b>

<p><i>Ozvěte se, pokud to dáte na ploše menší 8x5 nebo menší ;-)</i>
<p><i> -- Tomáš</i>

<div class="well">
  <div ng-controller='ProgramCtrl' ng-include="" src="'/archiv/html/tematka/roc_20/t3/views/program.tmpl'"></div>
</div>
